.row {
    margin-right: 15px;
    margin-left: 15px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-left: 24px;
    text-align: center;
    padding-right: 24px;
    align-content: center;
    font-size: 18px;
}

.tipoPerfil{
    margin-left: 0%;
    margin-right: 0%;
    border: solid;
    color: white;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }
