table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .listadoCentado 
{
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center ;
        margin-left: 10%;
}


.tipoPerfil{
  margin-left: 5%;
  margin-right: 5%;
  border: solid;
  color: white;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.mat-table {
    background: rgb(141, 97, 106);
}

.tipoPerfil{
    margin-left: 0%;
    margin-right: 0%;
    border: solid;
    color: white;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
  }
