<app-header> </app-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div fxFlex>
            <div>
               <h3 letraYcolor>Contactanos</h3>
               <hr>
            </div>
     </div> 

    <div fxFlex>
      <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="50" fxFlexOffset="50px">
                <img src="../../assets/logo_aa2000.svg" alt="Aeropuertos Argentina 2000">
                <address letraYcolor>
                  <br>
		              <i class="fa fa-phone"></i>:+54911101010<br>
		              <i class="fa fa-envelope"></i>: 
                        <a href="">info@aa2000.com</a>
		           </address>
               <p></p>
                <div>
                    <a mat-raised-button href="tel:+54911101010"><i class="fa fa-phone"></i> Llamar </a>
                    <a mat-raised-button href="mailto:info@aa2000.com"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
          <div fxFlex="40">
                <h4 letraYcolor>Mapa de nuestra locacion</h4>
                <app-map></app-map>
          </div>
        </div>
      </div>
      <div fxFlex="100%" fxFlex.gt-sm="45%">
        <div  style="text-align:left">
          <a mat-icon-button class="btn-facebook" href="https://es-la.facebook.com/aa2000oficial/"><i class="fa fa-facebook fa-lg"></i></a>
          <a mat-icon-button class="btn-linkedin" href="https://ar.linkedin.com/company/aeropuertos-argentina-2000"><i class="fa fa-linkedin fa-lg"></i></a>
          <a mat-icon-button class="btn-youtube" href="https://www.youtube.com/channel/UCqpaWwWuIklaWj2bzfELR6g"><i class="fa fa-youtube fa-lg"></i></a>
          <a mat-icon-button class="btn-instagram" href="https://www.instagram.com/aa2000oficial/?hl=es-la"><i class="fa fa-instagram fa-lg"></i></a>
        </div>
      </div>

<!--       
      <div fxFlex fxFlexOffset="20px" class="form-size">
          <h3>Send us your Feedback</h3>
          <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>
  
          <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field class="half-width">
                <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
                <mat-error *ngIf="formErrors.firstname">
                    {{formErrors.firstname}}                
                </mat-error>
              </mat-form-field>
             
              <mat-form-field class="half-width">
                <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
                <mat-error *ngIf="formErrors.lastname">
                    {{formErrors.lastname}}                  
                  </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="half-width">
                <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
                <mat-error *ngIf="formErrors.telnum">
                    {{formErrors.telnum}}                  
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="half-width">
                <input matInput formControlName="email" placeholder="Email" type="email" email required>
                <mat-error *ngIf="formErrors.email">
                    {{formErrors.email}}                 
                  </mat-error>
              </mat-form-field>
            </p>
            <table class="form-size">
              <td>
              <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
              </td>
              <td>
              <mat-select placeholder="How?" formControlName="contacttype">
                <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                  {{ ctype }}
                </mat-option>
              </mat-select>
              </td>
              </table>
            <p>
              <mat-form-field class="full-width">
                <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
              </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white"
              [disabled]="feedbackForm.invalid"> Submit</button>
          </form>
        </div>
</div> -->