<app-header> </app-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
            <img  src="../../assets/images/local.jpg" >
     </div>                      
      <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="70">
              <h2 letraYcolor>Nuestra Historia</h2>
              <p>
                En tiempos donde todo era incertidumbre y desazón nosotros pensabamos una sola cosa,
                tener nuestro propio restaurante. 
                Asi como comenzo lo que en principio fue solo un sueño pero luego se convirtio en realidad.
                </p>
              <p>    En Febrero del 2002 abrimos las puertas de "Oven Rest" para compartir nuestras
                más tradicionales recetas con la mejor calidad de los productos autóctonos.  
                  </p>
                  <p>  
                Hoy en día existen 10 sucursales alrededor del país que deleitan a nuestros clientes.
                  </p>
          </div>
          <div fxFlex="30">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                  <h2 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; text-align: left;">Algunos datos</h2>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <br>      
                  <dl>
                            <dt> Comienzo <span class="fa fa-calendar fa-lg"></span> </dt>
                            <dd> Febrero del 2002</dd>
                            <br>
                            <dt> Socio Principal <span class="fa fa-users fa-lg"></span></dt>
                            <dd> Federico Peralta</dd>
                            <br>
                            <dt> Ganancias <span class="fa fa-cutlery fa-money"></span></dt>
                            <dd> {{Ganancias | cambioDolar: '27.5' | currency : 'USD' : 'symbol' : '1.0' | agregoTextoPos: 'USD' }}  </dd>
                            <br>
                            <dt> Cantidad de Empleados <span class="fa fa-user-circle-o fa-lg"></span></dt>
                            <dd> 88</dd>
                       </dl>
                </mat-card-content>
              </mat-card>
          </div>
        </div>
      </div>
      
</div>
 