<app-header> </app-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
            <img class="img-local" src="../../assets/images/local.jpg" >
     </div>                      
      <div >
        <div fxLayout.gt-sm="row">
          <div class="letra" >
              <h2 letraYcolor>Nuestra Historia</h2>
              <p class="letra">
                Aeropuertos Argentina 2000 nació en 1998 con el fin de administrar y operar 35 terminales aéreas dentro del territorio nacional argentino,                constituyéndose en el mayor operador privado del mundo. Hoy cuenta con más de 2.100 empleados que trabajan con el objetivo de asegurar 
                la mayor calidad de servicios y cumplir con los más altos estándares internacionales de calidad, seguridad y confort los 365 días del año.
                </p>
              <p class="letra">     A través del compromiso y valores de su capital humano, la compañía conecta al país con el mundo, operando el 90% del tráfico aerocomercial argentino. Asimismo, contribuye con el desarrollo social, económico y cultural del país, convirtiéndose en un referente regional e internacional de la industria aeroportuaria.  
                  </p>
                  <p class="letra">  
                    AA2000, el mayor operador aeroportuario del país, está enfocado en la experiencia del cliente y en modernizar, transformar y expandir la infraestructura y los servicios de las terminales aéreas para conectar comunidades a través de una red eficiente y sustentable, preservando el cuidado del medio ambiente y desarrollando la industria aeronáutica argentina. 
                  </p>
          </div>
        </div>
      </div>
      
</div>
 