<app-header> </app-header>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
            <img  src="../../assets/images/local.jpg" >
     </div>                      
      <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <div fxFlex="70">
              <h2 letraYcolor>Nuestra Historia</h2>
              <p>
                En tiempos donde todo era incertidumbre y desazón nosotros pensabamos una sola cosa,
                tener nuestro propio restaurante.<br>
                Asi fue como comenzo lo que en principio era solo un sueño pero luego se convirtio en realidad.
                </p>
              <p>    En Febrero del 2002 abrimos las puertas de "Oven Rest" para compartir nuestras
                más tradicionales recetas con la mejor calidad de los productos autóctonos de nuestro pais.  
                  </p>
                  <p>  
                Hoy en día tenemos 10 sucursales alrededor del país que deleitan a nuestros clientes.
                  </p>
          </div>
          <div fxFlex="30">
          </div>
        </div>
      </div>
      
</div>
 