<app-header></app-header>

<h1 class="tipoPerfil" *ngIf="perfil!='admin'">Locales {{perfil}}</h1><br>
<div class="listadoCentrado-container"  *ngIf="!bool">

<div class="row" >
      <div class="col-sm-1">   </div>

      <div class="col-sm-1"> <h3 style="display: inline;color: white">Buscar:</h3>   </div>
      <div class="col-sm-3"> <input type="text" class="form-control" [(ngModel)]="idPedido" placeholder="" ></div>
      <div class="col-sm-1"><button class="btn btn-primary"  >Buscar</button></div>

      <div class="col-sm-5"><button class="btn btn-primary" (click)="algo()" >Nuevo Local</button></div>
      <div class="col-sm-1">   </div>


</div>
</div>
<br>


<div class="container" style="background-color: gray;width: 35%;" *ngIf="bool">

  <div class="form-ingreso">
        <h3 letraYcolor >Nuevo Local: </h3>

        <div class="row" >

          <div class="col-sm-12" style="text-align: center"> <img  [src]="imgURL" *ngIf="imgURL" width="100px" height="100px">  </div>

      </div>
      <br>
      <div class="row" style="text-align: center" >

          <div class="col-sm-12" style="text-align: center"> <input #file type="file" accept='image/*' (change)="preview(file.files)" />  </div>

    </div>

      <br>

        <div class="row" >
            <div class="col-sm-2"> <label style="color: white">Nombre:</label>  </div>
            <div class="col-sm-4"> <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="" >  </div>
            <div class="col-sm-2"> <label style="color: white">CUIT:</label></div>
            <div class="col-sm-4"> <input type="text" class="form-control" [(ngModel)]="cuit" placeholder="" > </div>


      </div>
      <br>
    <div class="row" >
        <div class="col-sm-2"> <label style="color: white">Telefono:</label>  </div>
        <div class="col-sm-4"> <input type="text" class="form-control" [(ngModel)]="telefono" placeholder="" >  </div>
        <div class="col-sm-2"> <label style="color: white">Razon social:</label>  </div>
        <div class="col-sm-4"> <input type="text" class="form-control" [(ngModel)]="razon_social" placeholder="" >  </div>
  </div>
  <br>
    <div class="row" >
        <div class="col-sm-2"> <label style="color: white">E-mail:</label></div>
        <div class="col-sm-4"> <input type="text" class="form-control" [(ngModel)]="email" placeholder="" > </div>
        <div class="col-sm-2"> <label style="color: white">Contraseña:</label></div>
        <div class="col-sm-4"> <input type="password" class="form-control" [(ngModel)]="clave" placeholder="" > </div>
    </div>
    <br>
    <div class="row" style="align-items: center; align-self: center; text-align: center;" >
          <label style="color: white; margin-right: 30px;">Rubro: </label>
            <select [(ngModel)]='rubro' >
              <option  *ngFor="let rubro of (listaRubrosMostrar)" value="{{rubro.id_rubro}}" >{{rubro.descripcion}}</option>
            </select>
    </div>
    <br>
    <div class="row" >
      <div class="col-sm-6" style="text-align: right">  <button class="btn btn-primary" (click)="guardar()" >Aceptar</button></div>
      <div class="col-sm-6" style="text-align: left">  <button class="btn btn-warning" (click)="algo()"  >Cancelar</button> </div>



  </div>



  <br>
  <br>
  </div>
  </div>



<div class="listadoCentrado-container" *ngIf="!bool">

  <table mat-table [dataSource]="listaLocales" class="lessons-table mat-elevation-z8" style="align-content: center;">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Id. Local</th>
          <td mat-cell *matCellDef="let element"> {{element.id_local}} </td>
          </ng-container>

        <ng-container matColumnDef="Imagen">
            <th mat-header-cell *matHeaderCellDef>Imagen</th>
            <td mat-cell *matCellDef="let element"> <img  src="{{element.foto}}" width="80px" height="80px"> </td>
          </ng-container>

        <ng-container matColumnDef="mesa">
          <th mat-header-cell *matHeaderCellDef>Local</th>
           <td mat-cell *matCellDef="let element"> {{element.local}} </td>
          </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Razon social </th>
          <td mat-cell *matCellDef="let element"> {{element.razon_social}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> CUIT </th>
          <td mat-cell *matCellDef="let element"> {{element.cuit }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol" >
          <th mat-header-cell *matHeaderCellDef> Telefono </th>
          <td mat-cell *matCellDef="let element" > {{element.telefono }}  </td>
        </ng-container>

        <ng-container matColumnDef="algo" >
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element" > {{element.email }}  </td>
        </ng-container>

        <ng-container matColumnDef="preparacion" >
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" ><button  class="btn btn-primary">Desabilitar</button>  </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div> 