<div  class="container-fluid footer" 
    fxLayout="row" 
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center" 
    fxLayoutAlign.sm="start center"
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutWrap 
    fxLayoutGap="10px">

    <div fxFlex="100%" fxFlex.gt-sm="50%">
        <div fxLayout="row">
          <div fxFlex="50">
            <address letraYcolor>
             </address>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlexAlign="center center">
      </div>  
</div>