<app-header></app-header>

<h1 class="tipoPerfil" *ngIf="perfil!='admin'">pedidos {{perfil}}</h1>
<div class="listadoCentrado-container">

    <table mat-table [dataSource]="listaPendientes" class="lessons-table mat-elevation-z8" style="align-content: center;">
     
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Nro. Pedido</th>
          <td mat-cell *matCellDef="let element"> {{element.idPedido}} </td>
        </ng-container>

        <ng-container matColumnDef="mesa">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element"> {{element.mesaPedido}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>  Detalle </th>
          <td mat-cell *matCellDef="let element"> <a (click)="openDetalle()">{{element.producto}}</a> </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Fecha y hora </th>
          <td mat-cell *matCellDef="let element"> {{element.sector | uppercase}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol" >
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element" fondoEstado [estado]="element.estado" > {{element.estado | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="preparacion">
            <th mat-header-cell *matHeaderCellDef> Tiempo estimado </th>
            <td *matCellDef="let element"> <select [(ngModel)]="element.tiempoPreparacion">
                <option value="5">5 min</option>
                <option value="10">10 min</option>
                <option value="15">15 min</option>
                <option value="20">20 min </option>
                <option value="30">30 min</option>
              </select>
            </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones </th>
            <td *matCellDef="let element">

                <app-boton-preparar *ngIf="element.estado=='pendiente'" (lanzador)="TraerTabla()" [id]="element.idDetalle" [tiempoPreparacion]="element.tiempoPreparacion" ></app-boton-preparar>
                <app-boton-servir *ngIf="element.estado=='en preparacion'" (lanzador)="TraerTabla()" [idDetalle]="element.idDetalle"></app-boton-servir>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

<!-- 

    <div class="tabla-pendientes">
    <table class="table miTabla" style="color: black">
      <thead><th>Nro. Pedido</th>
        <th>Producto</th>
        <th>Sector</th>
        <th>Estado</th>
        <th>Tiempo preparacion</th>
        <th>Accion</th>
      </thead>
      <tbody>
        <tr *ngFor="let detalle of listaPendientes" fondoEstado [estado]="detalle.estado" >
          <td> {{detalle.idPedido}} </td>
          <td> {{detalle.producto}} </td>
          <td> {{detalle.sector}} </td>
          <td> {{detalle.estado}} </td>
          <td> <select [(ngModel)]="detalle.tiempoPreparacion">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
            </select>
           </td>
           <td>
             HOLA -->
             <!-- <app-boton-preparar *ngIf="detalle.estado=='pendiente'" (lanzador)="TraerTabla()" [id]="detalle.idDetalle" [tiempoPreparacion]="detalle.tiempoPreparacion" ></app-boton-preparar> -->
             <!-- <app-boton-servir *ngIf="detalle.estado=='en preparacion'" (lanzador)="TraerTabla()" [idDetalle]="detalle.idDetalle"></app-boton-servir> -->
           <!-- </td>
        </tr>
      </tbody>
      
    </table>
    </div>-->
    </div> 
