<app-header > </app-header>



<!--HTML DE LOCALES-->
<h1 *ngIf="mostrarLocales" class="tipoPerfil">Locales</h1>

<div *ngIf="mostrarLocales" >

  <div class="div-busqueda">
    
      <label class="filtrar">Filtrar Rubro</label>
        <select [(ngModel)]='rubroDefault' (change)="filtrarRubro($event.target.value)">
          <option *ngFor="let rubro of (listaRubros)" value="{{rubro.id_rubro}}" >{{rubro.descripcion}}</option>
        </select><br>
    <input type="text" placeholder="Busqueda" class="form-control miInput" [(ngModel)]="busqueda" ><br>

  </div>
  <div class="div-locales">
    <table>
      <tr *ngFor="let local of (listaLocalesFiltrada | filtro: busqueda)">
        <td class="name-local">{{local.nombre}}</td><br>
        <td><img (click)="pedir(local.id_local,local.nombre,local.foto)" class="img-icono" src="{{local.foto}}" /></td>
      </tr>
      </table> 
    </div>
  </div>

<!--HTML DE PEDIDO-->

<h1 *ngIf="!mostrarLocales" class="tipoPerfil">Pedidos "{{localElegido.nombre}}" <img class="img-icono-producto" src="{{localElegido.foto}}" /></h1>

<div *ngIf="!mostrarLocales" class="container"
     fxLayout="column"
     fxLayoutGap="10px"
     >

  <div fxFlex class="container">

    <div  class="container" style="margin-left:125px">


      <div>
        <div class="div-categoria">
          <label class="filtrar">Categoria productos</label>
          <select [(ngModel)]='categoriaDefault' (change)="filtrarCategoria($event.target.value)">
            <option *ngFor="let Categoria of (listaCategorias)" value="{{Categoria.id_tipo}}" >{{Categoria.descripcion}}</option>
          </select>
        </div>
      <input type="text" placeholder="Busqueda" class="form-control miInput" style="width:450px" [(ngModel)]="busqueda" >
        <!-- <div class="div-productos"> -->
            <div class="tabla-prod col-sm-3" style="height:500px;width:450px;margin-right:30px;overflow:auto;color:black; background: rgba(119, 136, 153, 0.481);">
                <table class="table">
                  <thead>
                      <th></th><th>Producto</th> <th>Precio </th> <th>Accion</th>
                  </thead>
                  <tbody *ngIf="listaProductos">
                    <tr *ngFor="let producto of (listaProductosFiltrada | filtro: busqueda)">
                        <td><img class="img-icono-producto" src="{{producto.foto}}" /></td>
                        <td estilo [tipo]="producto.responsable">{{producto.nombre}}</td>
                        <td >{{producto.precio | currency: '$ ' : 'symbol' : '1.0'}}</td>
                        <td><app-boton-agregar [producto]="producto" (enviar)="AgregarAlPedido($event)"></app-boton-agregar></td>
                    </tr>
                  </tbody>
                </table>            
              </div>
          <!-- </div> -->
        </div>

     <!--     <div class="mat-elevation-z8 col-md-5" style="color:black; background: rgba(119, 136, 153, 0.481);">
    

          </div>
-->

      
        <div class="mat-elevation-z8 col-sm-4" style="height:562px; color:whitesmoke; background: rgba(119, 136, 153, 0.481); overflow:auto">
      
          <h3 style="color:whitesmoke; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; ">MI PEDIDO</h3>

            <table class="table" >            
              <thead *ngIf="productosPedido">
                <th>Producto</th> <th>Precio</th> <th>Accion</th>
              </thead>
              <tbody *ngIf="productosPedido">
                <tr *ngFor="let producto of productosPedido">
                  
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio | currency: '$ ': "symbol": '1.1-2'}}</td>
                    <td> <app-boton-borrar [objeto]="producto" (enviarABorrar)="QuitarAlPedido($event)" ></app-boton-borrar> </td>
                </tr>
              </tbody>
              <tbody *ngIf="totalPedido!=0" >
                <td>Total</td> <td>{{totalPedido | currency: '$ ': "symbol": '1.1-2'}} </td>
                <td><button  mat-raised-button color="accent" class="btn-pagar" (click)="openPagoForm()" id="hbtn">PAGAR <i class="material-icons">
                  payment
                  </i></button></td>
              </tbody>
            </table>
        </div>
      </div>

  </div>  
</div>



 