<app-header > </app-header>

<h1 *ngIf="mostrar=='true'" class="tipoPerfil">Locales</h1><br>
<div *ngIf="mostrar=='true'" class="div">
  <table>
    <tr>
    	<td class="name-local">Mostaza</td>
      <td><img (click)="pedir()" class="img-icono" src="../../assets/IconosLocales/mostaza.jpg"/></td>
    </tr><br>
    <tr>
    	<td class="name-local">MC Donalds</td>
      <td ><img (click)="pedir()" class="img-icono" src="../../assets/IconosLocales/mcdonalds.jpg"/></td>
    </tr><br>
    <tr>
    	<td class="name-local">Burguer King</td>
      <td><img (click)="pedir()" class="img-icono" src="../../assets/IconosLocales/burguer.jpg"/></td>
    </tr><br>
    <tr>
    	<td class="name-local">Antares</td>
      <td ><img (click)="pedir()" class="img-icono" src="../../assets/IconosLocales/antares.jpg"/></td>
    </tr><br>
    <tr>
    	<td class="name-local"> Starbucks</td>
      <td><img (click)="pedir()" class="img-icono" src="../../assets/IconosLocales/starbucks.jpg"/></td>
    </tr><br>
    <tr>
    	<td class="name-local">Betos</td>
      <td><img (click)="pedir()" class="img-icono" src="../../assets/IconosLocales/betos.jpg"/></td>
    </tr><br>
    <tr>
    	<td class="name-local">Subway</td>
      <td><img (click)="pedir()" class="img-icono" src="../../assets/IconosLocales/subway.jpg"/></td>
    </tr><br>
    </table>
</div>


<h1 *ngIf="mostrar=='false'" class="tipoPerfil">Realizar Pedidos</h1>

<div *ngIf="mostrar=='false'" class="container-fluid"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>

    <div class="container">
      <div class="tabla-prod col-sm-4" style="padding: 5%">

          <input type="text" placeholder="Busqueda" class="form-control miInput" [(ngModel)]="busqueda" >
          <br>



          <div class="mat-elevation-z8 col-md-5" style="color:black; background: rgba(119, 136, 153, 0.481);">
    
            <table class="table">
              <thead>
                <th>Producto</th> <th>Precio</th> <th>Accion</th>
              </thead>
              <tbody *ngIf="listaProductos">
                <tr *ngFor="let producto of (listaProductos | filtro: busqueda)">
                    <td estilo [tipo]="producto.responsable">{{producto.nombre}}</td>
                    <td >{{producto.precio | currency: '$ ' : 'symbol' : '1.0'}}</td>
                    <td><app-boton-agregar [producto]="producto" (enviar)="AgregarAlPedido($event)"></app-boton-agregar></td>
                </tr>
              </tbody>
            </table>
          </div>

      </div>
      
        <div class="mat-elevation-z8 col-sm-4" style="height: 600px; color:whitesmoke; background: rgba(119, 136, 153, 0.481);">
      
          <h3 style="color:whitesmoke; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; ">MI PEDIDO</h3>

            <table class="table" >            
              <thead *ngIf="productosPedido">
                <th>Producto</th> <th>Precio</th> <th>Accion</th>
              </thead>
              <tbody *ngIf="productosPedido">
                <tr *ngFor="let producto of productosPedido">
                  
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio | currency: '$ ': "symbol": '1.1-2'}}</td>
                    <td> <app-boton-borrar [objeto]="producto" (enviarABorrar)="QuitarAlPedido($event)" ></app-boton-borrar> </td>
                </tr>
              </tbody>
              <tfoot>
                <td>Total</td> <td>{{totalPedido | currency: '$ ': "symbol": '1.1-2'}} </td>
              </tfoot>
            </table>
        </div>
        <button class="btn-pagar">PAGAR</button>
    </div>

  </div>
</div>
        



 