<app-header [perfil]="perfilUsuario" > </app-header>

<div style="text-align: center">
  <h1 letraYcolor>P A T I O &nbsp;&nbsp; G A S T R O N O M I C O &nbsp;&nbsp; W E B</h1>
</div>
<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-mat="space-around center"
     fxLayoutGap="10px">

     <mat-card  fxFlex>
      <div class="divTitule">
      <!--  <h1 class="titule" letraYcolor>O V E N</h1>
        <h1 class="titule" letraYcolor>R E S T</h1>
        <p class="subtitule">Los platos argentinos mas tradicionales!!!</p> -->
        <img src="../../assets/aa2000_home.png" alt="Aeropuertos Argentina 2000">
        <p>El lugar donde tus emociones toman vuelo</p>
      </div>
      <br><br><br><br><br>
    <mat-card class="cardMisDatos" fxFlex>
      <div class="misDatos">
        <h3 letraYcolor>Federico Germán Peralta</h3>
        <h3 letraYcolor>Agustin Alvarez Sineiro</h3>
        <address letraYcolor>
          6°B Practica supervisada 2019<br> 
          Tecnicatura en sistemas informaticos UTN FRA <br>
         </address>
      </div>
    </mat-card>
    </mat-card>

<mat-card *ngIf="dish" fxFlex>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3 letraYcolor>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{dish.image}} alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4 letraYcolor>Cargando . . . Espere Por favor</h4>
  </div>


<mat-card *ngIf="leader" fxFlex>
    <mat-card-header letraYcolor>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3 letraYcolor>{{leader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{leader.image}} alt={{leader.name}}>
    <mat-card-content>
      <p>{{leader.description}}
      </p>
    </mat-card-content>
  </mat-card>
  <div [hidden]="leader">
    <mat-spinner></mat-spinner><h4 letraYcolor>Cargando . . . Espere por favor</h4>
  </div>

</div>
  