
.mat-cell , .mat-footer-cell, .mat-header-cell {
    padding-left: 24px;
    padding-right: 24px;
}


.divHijoUno{
    float: left;
    margin: 100px;
}

.divHijoDos{
    float: left;
    margin: 100px;
    text-align: center;
}


.listadoCentado 
{
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center ;
        margin-left: 10%;
}

.divFactura{
    text-align: center;
}

.cardFactura{
    background-color: white;
    color: black;
    align-items: center;
    border-radius: 6px;
}

.tituloFactura{
    text-align: center;
    color: black;
}

.fechaFactura{
    margin-left: 10px;
    text-align: right;
}

.saludoFactura{
    text-align: center;   
    color: black;
}

.btnDescargar{
    background-color: aquamarine;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
}